pandas as pd
numpy as np
seaborn as sbn
matplotlib.pyplot as plt
sklearn.metrics import accuracy_score, roc_auc_score, confusion_matrix, roc_curve
sklearn.model_selection import train_test_split as tts, cross_val_score as cvs
sklearn.preprocessing import StandardScaler, OrdinalEncoder, OneHotEncoder
sklearn.linear_model import LogisticRegression as LR
sklearn.ensemble import RandomForestClassifier as RFC
sklearn.utils import shuffle